# Python
__pycache__/
*.py[cod]
*$py.class
venv/
myenv/
.env
db.sqlite3
*.log

# Node
node_modules/
dist/
.eslintcache

# Docker
.dockerignore

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Agents
.agents/
